/* style.scss*/

@font-face {
    font-family: JosefinSans;
    src: url(../fonts/JosefinSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: JosefinSans;
    src: url(../fonts/JosefinSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: JosefinSans;
    src: url(..//fonts/JosefinSans-Light.ttf);
    font-weight: lighter;


.ba-menu{
    display: flex;
    align-items: center;

}

.ba-menu__link {
    color: inherit;
    text-decoration: none;
}

.ba-banner{
    height: 100vh;
}

.ba-hero{
    height: 100%;
    background: {
    image: url(../images/Image.png);
    size: cover;
    position: bottom;
    }

    &__wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}


.ba-logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    margin: 0 auto;
}

.ba-header{
    display: flex;
    background-color: #5474fd;
}

.ba-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


.ba-menu__link{
    text-transform: uppercase;
    color: #fff;
}